body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Beautiful_green_hills.jpg/1280px-Beautiful_green_hills.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: fantasy;
}